<!-- this is the show page -->

  <div class="map">
  </div>
  <div class="content">
<div class="eventdetail event<%= @event.emotion_id%>">
    Event: <br><%= @event.title%></br><br>
    Event Type:<br> <%= @event.emotion.name %><br><br>
    Location:<br> <%= @event.location %></br><br>
    Date: <br><%= @event.datetime.strftime("%a %b %d") %></br><br>


    <% if @event.free_food %>
      <i class="fa fa-cutlery"></i>
      <% else %>
    <% end %>

    <% if @event.free_drink %>
      <i class="fa fa-glass"></i> </br>
      <% else %>
    <% end %>


      <a href="/emotions/"><i class="fa fa-chevron-left"></i></a>
    </div>

  </div>
