<!DOCTYPE html>
<html>
<head>
  <title>Freevents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <nav class="fixed-nav-bar">
  <a href="/"><i class="fa fa-chevron-left nav-link"></i></a>
  <% if current_user %>
  <h3 class="nav-link"><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
  <% else %>
  <h3 class="nav-link"><%= link_to 'Signup', new_user_registration_path %></h3>
  <h3 class="nav-link"><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>
  </nav>


  <div class= "site-wrapper">
      <%= yield %>
  </div>
</body>
</html>
